body {
    font-family: Arial;
}

.container {
    width: 1155px;
    margin: 0px auto 0px auto;
}

/* firstsection */

.firstScreen {
    background: url(../images/first.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.logo {
    display: inline;
}

.logo img {
    padding-top: 23px;
}

.phone {
    display: inline;
}

.phone h3 {
    display: inline;
    color: white;
    margin-left: 663px;
}

.offer {
    color: white;
    text-align: center;
    padding-bottom: 335px;
}

.offer h1 {
    font-size: 38px;
    margin-top: 161px;
    font-weight: 900;
    text-transform: uppercase;
}

.offer h2 {
    font-size: 25px;
    font-weight: 100;
    margin-top: -23px;
    text-transform: uppercase;
}

.offer a {
    background: #f67e26 none repeat scroll 0% 0%;
    font-size: 18px;
    font-weight: 900;
    color: white;
    border-radius: 50px 50px;
    padding: 26px 35px 30px 35px;
    margin-top: 30px;
    text-decoration: none;
    display: inline-block;
}

/* end of firstsection */

/* secondsection */

.advantage h3 {
    margin-top: 93px;
    margin-bottom: 70px;
    font-size: 42px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.icons {
    margin-right: 14em;
}

.iconIcons {
    display: flex;
    margin-bottom: 94px;
}

.icons h4 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 27px;
    margin-bottom: -13px;
}

.icons p {
    font-size: 20px;
    width: 235px;
    height: 82px;
}

.icons img {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: auto;
}

/* end of secondsection */

/* thirdsection */

.thirdSection {
    background: #000;
    background-size: cover;
    width: 100%;
    /* height: auto; */
}

.present {
    display: flex;
}

.client {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 90px;
}

.client h1 {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 25px;
}

.client h3 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 130px;
    margin-top: -20px;
}

.app {
    margin-left: 120px;
    margin-bottom: 105px;
    /* width: 270px;
    height: 350px;  */
}

.more {
    text-align: left;
    color: white;
    width: 521px;
    height: 295px;
    margin-left: 132px;
}

.more h3 {
    font-size: 23px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: -5px;
}

.more p {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 10px;
}

.moreButton {
    font-size: 21px;
    font-weight: 900;
    padding: 23px 52px;
    border: 1px solid #f67e26;
    background: transparent none repeat scroll 0% 0%;
    border-radius: 60px 60px;
    margin-top: 30px;
    display: inline-block;
}

.moreButton a {
    text-decoration: none;
    color: #f67e26;
}

/*end of thirdsection */

/* footer */

footer {
    display: flex;
}

.logoFoo {
    padding-top: 10px;
    margin-right: 150px;
}

.qwerty {
    display: flex;
    align-items: center;
}

.qwerty p {
    font-size: 14px;
}

.qwerty h5 {
    font-weight: 100;
    text-decoration: underline;
    font-size: 14px;
    margin-left: 50px;
}

.qwerty h3 {
    font-size: 24px;
    margin-left: 80px;
}

/* endoffooter */